<div class="container">
    <div class="row">
        <section class="col-sm-3 d-flex-column my-2 justify-content-start align-items-center">
            <button (click)="showFilters()" type="button" class="btn btn-info">
                <i class="fa-regular fa-filter-list"></i>
                <span>Filters</span>
            </button>
            <app-paging-header [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"
                [pageSize]="shopParams.pageSize"></app-paging-header>
        </section>
        <!-- <section class="col-sm-3 d-flex my-2 justify-content-start align-items-center">
        </section> -->
        <section class="col-sm-9">
            <div class="form d-flex my-2 justify-content-end align-items-center">
                <input class="form-control mr-2" #search style="max-width: 300px; margin-right: 10px;"
                    placeholder="Search" type="text" (keydown.enter)="onSearch()">
                <button (click)="onSearch()" class="btn btn-outline-primary my-2"
                    style="margin-right: 2px;">Search</button>
                <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="wrapper col-sm-12">
            <ng-container *ngIf="types.length>0 && brands.length>0">
                <nav id="sidebar" class={{sideBarIsActiveClass}}>
                <div class="sidebar-header">
                </div>

                    <ul class="list-unstyled components">
                        <h5 class="text-warning ml-3">Sort</h5>
                        <select class="form-select mb-3" [(ngModel)]="this.shopParams.sort" (change)="onSortSelected()">
                            <option *ngFor="let sort of sortOptions" [value]="sort.value">
                                {{sort.name}}
                            </option>

                        </select>
                        <h5 class="text-warning ml-3">Brands</h5>
                        <ul class="list-group my-3">
                            <li class="list-group-item" *ngFor="let brand of brands"
                                [class.active]="brand.id === this.shopParams.brandId" [value]="brand.id"
                                (click)="onBrandSelected(brand.id)" style="cursor: pointer;">
                                {{brand.name}}
                            </li>
                        </ul>

                        <h5 class="text-warning ml-3">Types</h5>
                        <ul class="list-group my-3">
                            <li class="list-group-item" *ngFor="let type of types"
                                [class.active]="type.id === this.shopParams.typeId" [value]="type.id"
                                (click)="onTypeSelected(type.id)" style="cursor: pointer;">
                                {{type.name}}
                            </li>
                        </ul>
                    </ul>

            </nav>
        </ng-container>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
                <div class="col-sm-6" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>

        </section>
        <section *ngIf="totalCount && totalCount > 0"
            class="wrapper col-sm-12 d-flex justify-content-center align-items-center" style="margin-top: 10px;">
            <app-pager [pageSize]="shopParams.pageSize" [totalCount]="totalCount"
                (pagerChanged)="onPageChanged($event)"></app-pager>
        </section>
    </div>
</div>